<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>addToDataBase</title>
      
  </head>
  <script>

    var categoryData = <%- category.replace(/&#34;/g, '\\"') %>;
    var productsData = <%- products.replace(/&#34;/g, '\\"') %>;

    function addCategory(){

    }

    function createUI(){

            var form = document.createElement("form");
            form.action = "/addToDataBase";
            form.method = "POST";

            var form2= document.createElement("form");
            form2.action = "/addToDataBase2";
            form2.method = "POST";

            var form3= document.createElement("form");
            form3.action = "/deleteCategory";
            form3.method = "POST";

            var form4= document.createElement("form");
            form4.action = "/deleteProduct";
            form4.method = "POST";

            
            var containerDiv = document.createElement("div");
            var containerDiv2 = document.createElement("div");
            var containerDiv3 = document.createElement("div");
            var containerDiv4 = document.createElement("div");

            containerDiv.classList.add("container");
            containerDiv2.classList.add("container");

            
            //container 1 - elements

            var input1 = document.createElement("input");
            input1.type = "text";
            input1.id = "addCategory";
            input1.name = "addCategory";
            input1.placeholder = "Enter category";
            containerDiv.appendChild(input1);


            var button = document.createElement('button');
            button.id = 'addCategoryButton';
            button.textContent = 'Add Category';
            containerDiv.appendChild(button);


            //container 2 - elements

            var input2 = document.createElement("input");
            input2.type = "text";
            input2.id = "addProduct";
            input2.name = "addProduct";
            input2.placeholder = "Enter product";
            containerDiv2.appendChild(input2);

           
            var select1 = document.createElement("select");
            select1.id = "selectCategory";
            select1.name = "selectCategory";

            for (let category of categoryData) {
                
                var option = document.createElement('option');
                option.value = category.category;
                option.textContent = category.category;
                select1.appendChild(option);
                
            }

            
            containerDiv2.appendChild(select1);

            var button2 = document.createElement('button');
            button2.id = 'addProductButton';
            button2.textContent = 'Add Product';
            
            
            containerDiv2.appendChild(button2);
            
            //container 3 - elements


            var select2 = document.createElement("select");
            select2.id = "selectCategoryToDelete";
            select2.name = "selectCategoryToDelete";

            for (let category of categoryData) {
                
                var option = document.createElement('option');
                option.value = category.category;
                option.textContent = category.category;
                select2.appendChild(option);
                
            }

            
            containerDiv3.appendChild(select2);

            var button3 = document.createElement('button');
            button3.id = 'deleteCategoryButton';
            button3.textContent = 'Delete Category';
            
            
            containerDiv3.appendChild(button3);
            
            //container 4 - elements

            var select3 = document.createElement("select");
            select3.id = "selectCategoryToDelete2";
            select3.name = "selectCategoryToDelete2";

            for (let category of categoryData) {
                
                var option = document.createElement('option');
                option.value = category.category;
                option.textContent = category.category;
                select3.appendChild(option);
                
            }


            select3.addEventListener("change", function() {
            var selectedCategory = select3.value;
            select4.innerHTML = '';
            for (let product of productsData) {
            if(selectedCategory == product.product_category){
                var option = document.createElement('option');
                option.value = product.product;
                option.textContent = product.product;
                select4.appendChild(option);
            }
            }
            });


            var select4 = document.createElement("select");
            select4.id = "selectProductToDelete";
            select4.name = "selectProductToDelete";

            for (let product of productsData) {
                var selectedCategory = select3.value;
                if(selectedCategory == product.product_category){
                    var option = document.createElement('option');
                    option.value = product.product;
                    option.textContent = product.product;
                    select4.appendChild(option);
                }
            }

            
            containerDiv4.appendChild(select3);
            containerDiv4.appendChild(select4);

            var button4 = document.createElement('button');
            button4.id = 'deleteCategoryButton2';
            button4.textContent = 'Delete Product';
            
            
            containerDiv4.appendChild(button4);

            //containers - end

            form.appendChild(containerDiv);
            form2.appendChild(containerDiv2);
            form3.appendChild(containerDiv3);
            form4.appendChild(containerDiv4);

            document.body.appendChild(form);
            document.body.appendChild(form2);
            document.body.appendChild(form3);
            document.body.appendChild(form4);
    }
    

  </script>
  <body>
    
   
  </body>
    
  <script>
    createUI();
  </script>

</html>