<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Individual Steps</title>
  </head>

  <style>
    .comeBackToHomepage {
      display: inline-block;
      padding: 10px 20px;
      text-decoration: none;
      background-color: #4285f4;
      color: #ffffff;
      border-radius: 4px;
    }

    .comeBackToHomepage:hover {
      background-color: #3367d6;
    }
  </style>

  <script>
    var przepis = '<%- przepis.replace(/&#34;/g, '\\"') %>';
    var username = '<%= username %>';



    //iterujac po i dostaniesz sie do kolejnych krokow w przepisie, czesc pol (inputy) nie sa obowiazkowe do wpisania, wiec mozesz dostac ""
    //przepis.product_table[i].product; -- product_table zawiera w sobie w sobie product, product_category, amount oraz unit
    //przepis.time_table[i].time; -- time i time_unit
    //przepis.description_table[i].description; -- description
    //przepis.activity_table[i].activity; -- activity

    function setButton(){
       var button = document.getElementById("comeBackToHomepage");
       button.href = "/HomePage?username=" + encodeURIComponent(username);
    }
  </script>
  <body>
    <a id="comeBackToHomepage" class="comeBackToHomepage">HomePage</a>

    <!-- jesli chcesz w htmlu przepis, to ponizej jest jego wyswietlenie -->
    <%- przepis.replace(/&#34;/g, '\\"') %>;
  </body>
  <script>
    setButton();
  </script>
</html>
